# Practica 1.1. Manipuación de datos

## Objetivo

En esta práctica, aprenderás a aplicar técnicas de análisis de datos utilizando Pandas para explorar un dataset relacionado con la salud mental. El objetivo es que pongas en práctica tus habilidades de manipulación, limpieza y análisis de datos para obtener conclusiones interesantes.

Escribe aquí tu reporte

In [1]:
import pandas as pd

# Carga del dataset

In [4]:
datos = pd.read_csv('dataset/mental_health.csv')

Explorando el dataset

In [7]:
datos.head(1200)

,Age,Gender,Education_Level,Employment_Status,Sleep_Hours,Physical_Activity_Hrs,Social_Support_Score,Anxiety_Score,Depression_Score,Stress_Level,...,Chronic_Illnesses,Medication_Use,Therapy,Meditation,Substance_Use,Financial_Stress,Work_Stress,Self_Esteem_Score,Life_Satisfaction_Score,Loneliness_Score
0,56,Male,Bachelor's,Unemployed,6.0,0.4,3,4,2,9,...,0,NaN,0,1,NaN,4,3,7,5,1
1,69,Female,Bachelor's,Retired,8.8,2.8,6,18,7,6,...,0,NaN,1,0,NaN,1,4,7,4,6
2,46,Female,Master's,Employed,5.3,1.6,5,5,13,8,...,0,NaN,0,1,NaN,8,7,8,1,1
3,32,Female,High School,Unemployed,8.8,0.5,4,6,3,4,...,1,NaN,0,0,NaN,7,4,8,4,4
4,60,Female,Bachelor's,Retired,7.2,0.7,2,7,15,3,...,0,NaN,1,1,Frequent,8,9,5,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,23,Female,Other,Student,5.1,0.1,7,16,15,5,...,0,Occasional,0,0,NaN,2,8,7,6,5
1196,43,Female,Master's,Employed,8.9,0.4,9,19,4,9,...,0,NaN,0,1,NaN,8,9,7,6,4
1197,71,Female,PhD,Retired,6.0,0.1,2,15,4,2,...,0,NaN,0,1,NaN,2,9,9,3,7
1198,21,Male,Other,Employed,8.5,2.7,8,12,20,2,...,1,NaN,0,0,NaN,8,5,1,3,7
1199,36,Male,Other,Employed,4.4,2.6,7,10,10,5,...,0,NaN,1,0,Frequent,7,2,6,4,8

Imprime la información de las columnas: nombre, cantidad de elementos por columna y tipo de datos

In [6]:
print(datos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            1200 non-null   int64
 1   Gender                         1200 non-null   object
 2   Education_Level                1200 non-null   object
 3   Employment_Status              1200 non-null   object
 4   Sleep_Hours                    1200 non-null   float64
 5   Physical_Activity_Hrs          1200 non-null   float64
 6   Social_Support_Score           1200 non-null   int64
 7   Anxiety_Score                  1200 non-null   int64
 8   Depression_Score               1200 non-null   int64
 9   Stress_Level                   1200 non-null   int64
 10  Family_History_Mental_Illness  1200 non-null   int64
 11  Chronic_Illnesses              1200 non-null   int64
 12  Medication_Use                 453 non-null    object
 13  Therapy                        1200 non-null   int64
 14  Meditation                     1200 non-null   int64
 15  Substance_Use                  366 non-null    object
 16  Financial_Stress               1200 non-null   int64
 17  Work_Stress                    1200 non-null   int64
 18  Self_Esteem_Score              1200 non-null   int64
 19  Life_Satisfaction_Score        1200 non-null   int64
 20  Loneliness_Score               1200 non-null   int64
dtypes: float64(2), int64(14), object(5)
memory usage: 197.0+ KB
None

In [8]:
print(f"Registros (filas): {datos.shape[0]}")

Registros (filas): 1200

In [9]:
print(f"Columnas: {datos.shape[1]}")

Columnas: 21